body {
    background-color: black;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font to the entire body */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Set height to viewport height */
    overflow: hidden; /* Prevent scrolling on body */
    position: relative; /* Needed for positioning the overlay */
    background-image: url('assets/main_background.png'); /* Set background image */
    background-size: cover; /* Make sure the background covers the entire screen */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-attachment: fixed; /* Keep the background fixed during scroll */
}

div {
    overflow-y: auto; /* Enable vertical scrolling */
    height: 1
90vh; /* Set height to the viewport height */
    margin-bottom: 30%; 
}

.content {
    color: white; /* Change text color to contrast with background */
    padding: 10%; /* Add some padding for content */
    position: relative; /* Position content relative to body */
    z-index: 2; /* Bring content in front of the overlay */
}

.invisible-table {
    width: 100%;
    border-collapse: collapse; /* Remove gaps between cells */
    text-align: center; /* Center text and images */
}

.invisible-table td {
    padding: 10px;
    vertical-align: top; /* Align text to the top */
}

.text-row td {
    vertical-align: top; /* Align text to the top */
    font-weight: bold; /* Optional: make text bold */
}

.image-link {
    display: inline-block;
    height: 100px;
    width: auto;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    transition: transform 0.3s ease, opacity 0.3s;
}

.image-link:hover {
    transform: scale(1.2);
    opacity: 0.9;
}


strong {
    color: rgb(0, 179, 255); /* Set color for strong elements */
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
    .invisible-table {
        display: block; /* Allow the table to be scrollable horizontally */
        overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
        white-space: nowrap; /* Prevent table cells from wrapping onto new lines */
    }

    .invisible-table td, .invisible-table th {
        display: inline-block; /* Stack cells for smaller screens */
        width: auto; /* Maintain natural width for images */
        padding: 2px; /* Reduce padding for tighter spacing on mobile */
        text-align: center; /* Center the content for readability */
    }

    .image-link {
        height: 80px; /* Reduce image size for mobile */
        margin: 0 5px; /* Reduce space between images */
    }
}
